<div class="container">
	<footer class="footer">
		<small>
			RifaAmiga todos os direitos reservados
		</small>
		<nav>
			<ul>
				<li><a href="#">Termos de uso</a></li>
				<li><a href="#">Sobre</a></li>
			</ul>
		</nav>
	</footer>	
</div>